.image-card{
    max-height: 250px;
    max-width: 220px;
    border-radius: 10px;
    margin: 20px;

}
.sm-image-card{
    max-height: 150px;
    max-width: 120px;
    border-radius: 10px;
    margin: 20px;

}

.image{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}